[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==5.0.9"
flask-cors = "*"
flask = "==2.0.2"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.3"
markupsafe = "==2.0.1"
six = "==1.16.0"
werkzeug = "==2.0.2"
sqlalchemy = "*"
psycopg2-binary = "*"
faker = "==13.7.0"
flask-restplus = "==0.13.0"
flask-sqlalchemy = "==2.4.4"
flask-marshmallow = "==0.14.0"
marshmallow-sqlalchemy = "==0.24.1"
python-dotenv = "==0.20.0"
celery = "==5.2.3"

[dev-packages]

[requires]
python_version = "3.10"
