authlib==1.2.0
boto3==1.26.73
botocore==1.29.73
celery==5.2.3
Faker==13.7.0
Flask==2.0.2
Flask_Cors==3.0.10
multilingual_pdf2text==1.1.0
ocrmypdf==14.0.3
pdfplumber==0.8.0
PyPDF2==3.0.1
python-dotenv==0.21.1
requests==2.28.2
SQLAlchemy==2.0.3
flask-cognito-auth==1.1.0
-e git+ssh://git@github.com/ShipSolver/flask-cognito-lib.git@9010f492d52d64d43ccd76878405fa1b098fe35c#egg=flask_cognito_lib
