sqlalchemy
psycopg2-binary
celery==5.2.3
Flask==2.0.2
Faker==13.7.0
flask-restplus==0.13.0
flask-sqlalchemy==2.4.4
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.24.1
marshmallow==3.9.1
python-dotenv==0.20.0