amqp==5.0.9
aniso8601==9.0.1
attrs==21.4.0
billiard==3.6.4.0
celery==5.2.3
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.1.0
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coloredlogs==15.0.1
cryptography==36.0.1
Deprecated==1.2.13
ecdsa==0.17.0
Faker==13.7.0
Flask==2.0.2
flask-cognito-auth==1.1.0
-e git+ssh://git@github.com/ShipSolver/flask-cognito-lib.git@9010f492d52d64d43ccd76878405fa1b098fe35c#egg=flask_cognito_lib
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
flask-restplus==0.13.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==1.0.1
greenlet==1.1.2
humanfriendly==10.0
idna==3.3
img2pdf==0.4.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.6.1
kombu==5.2.3
lxml==4.7.1
MarkupSafe==2.0.1
marshmallow==3.9.1
marshmallow-sqlalchemy==0.24.1
multilingual-pdf2text==1.1.0
numpy==1.22.0
ocrmypdf==13.2.0
packaging==21.3
pdf2image==1.16.0
pdfminer.six==20211012
pdfplumber==0.6.0
pdftotext==2.2.2
pikepdf==4.3.1
Pillow==9.0.0
pluggy==1.0.0
prompt-toolkit==3.0.24
psycopg2-binary==2.9.3
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
PyJWT==2.4.0
pyparsing==3.0.6
PyPDF2==1.26.0
pyrsistent==0.18.1
pytesseract==0.3.8
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jose==3.3.0
pytz==2021.3
redis==4.1.2
regex==2022.7.9
reportlab==3.6.5
requests==2.28.1
rsa==4.8
six==1.16.0
SQLAlchemy==1.4.39
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.9
vine==5.0.0
Wand==0.6.7
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==3.0.1
zipp==3.7.0
